<!DOCTYPE html>
<html lang="en-US">
<title>Error :(</title>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="images/favicon.png">
<style>
body {
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;

  }

  li {
    float: right;
    display: inline;

  }
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 12pt;
  font-family: "Helvetica Neue", sans-serif;

}
li a:hover {
  background-color: #fff;
  color: black;
}
header {
  height: 60px;
  width: screen.length;
  background-color: #CC0000;
  );

}

  .logo {
    background-color: #FF0000;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10.83px #FF0000, inset 0 0 0 21.66px #fff;
    position: absolute;
    top: 280px;
    left: 291px;
    margin: -50px 0 0 -50px;
  }

  .topnav .search-container button {
    position: absolute;
    top: 36.75px;
    right: 3px;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .topnav input[type=text] {
    position: absolute;
    top: 36px;
    right: 60px;
      padding: 6px;
      width: 291px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }

      .topnav input[type=text] {
        border: 1px solid #ccc;
      }

pre{
  text-align: left;
  font-size:16px;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 1px;
  color: #262626
}

.anti{
  text-align: center;
  font-size:19px;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 1px;
  margin-left: -100px;
  margin-right: 300px;
  color: #262626
}

.email{
  text-align: right;
  font-size:12px;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 1px;
  margin-left: 200px;
  margin-right: auto;
  color: #262626
}

.gaga{
  text-align: right;
  font-size:30px;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 1px;
  margin-left: 200px;
  margin-right: auto;
  color: #262626
}

.link{
  text-align: left;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 1px;
  margin-left: 80px;
  margin-right: auto;
  color: #262626
}
</style>

<head>

  <pre>
&lt;p&gt;Error :(&lt;/p&gt;
</pre>

<pre class="gaga">
&lt;p&gt;<strong>we lost lady gaga.</strong>&lt;/p&gt;
</pre>

<pre class="anti">
&lt;p!%*@&gt;donation of $122,000 to anti-lgbt politician. Successful.&lt;/@$*p&gt;

&lt;stop&gt;mission: target and stop boycott against Target Corp. <br>
for reason; donation of $150,000 to help run ads for a political candidate who <br>
opposes same-sex marriage.&lt;/stop&gt;
</pre>
</head>

<body>
  <header>
    <ul>
      <li><a href="wcfwywlf2.html">Our Goal</a></li>
      <li><a href="wcfwywlf2.html">Countdown</a></li>
      <li><a href="wcfwywlf2.html">Meet the Designers</a></li>
    </ul>
    <a href="index.html">

  <h2><div class="logo"></h2>
    </a>

    <div class="topnav">
      <div class="search-container">
        <form action="wcfwywlf2.html">
          <input type="text" placeholder="Search..." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      </header>
<pre>
    &lt;body p%&gt;"Target's support of the <strong>GLBT</strong> community is unwavering, and inclusiveness <br>
      remains a core value of our company," Chief Executive Officer Gregg Steinhafel stated.&lt;/body p%%&gt;
</pre>
<pre class="email">
      &lt;email: subject: Regarding the Recent Controversy&gt;Hello Marketing Department,<br>
      Please allow the CEO to address the current controversies and apologize. Afterwards,<br>
      you have free reign to continue to put out LGBT+ design and ads to promote our righteousness<br>
      in this matter.<br>
      Our commitment right now is in letting people know that we've heard their feedback and we're really sorry that we've let them down,<br>
      Although this has happened twice, we must only put out a statement for the current issue.<br>
      Sincerely,<br>
      The Target Corp.&lt;email: subject:&gt;
    </pre>
<pre class="link">
    &lt;&take down articles%&gt;Washington - After two weeks of good-faith discussions - and two tentative agreements - <br>
    with Target Corporation, the company has informed the Human Rights Campaign, the nation's <br>
    largest lesbian, gay, bisexual and transgender (LGBT) civil rights organization, that it will <br>
    take no corrective actions to repair the harm that it caused by contributing $150,000 to an <br>
    organization supporting a vehemently anti-gay candidate closely associated with a Christian <br>
    rock band that advocates death and violence to gay people.
<a href=https://www.hrc.org/press-releases/target-corporation-message-to-lgbt-community-we-wont-make-it-right><p>https://www.hrc.org/press-releases/target-corporation-message-to-lgbt-community-we-wont-make-it-right<p></a>
  </pre>
<pre>
  <p>
    check: sorry
   &lt;strikethrough &gt;  check: hire lgbt designers &lt;/strikethrough&gt; check: don't care about the issue uncheck: take appropiate action about our anti-lgbt controversy
    check: hire unknown lgbt designers
  </pre>
  </p>
</body>

</html>
