
<!DOCTYPE html>
<html lang="en-US">
<title>Shopping</title>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="images/favicon.png">
<style>

body {
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;

  }

  li {
    float: right;
    display: inline;

  }
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 12pt;
  font-family: "Helvetica Neue", sans-serif;

}
li a:hover {
  background-color: #fff;
  color: black;
}
header {
  height: 85px;
  width: screen.length;
  background-image: linear-gradient(125deg, rgba(255,0,0,0.82),rgba(255,127,0,0.82),rgba(255,255,0,0.82),rgba(0,255,0,0.82),rgba(0,0,255,0.82),rgba(148,0,211,0.82)
  );

}

  .logo {
    background-color: #FF0000;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 10.83px #FF0000, inset 0 0 0 21.66px #fff;
    position: absolute;
    top: 59px;
    left: 59px;
    margin: -50px 0 0 -50px;
  }

  .topnav .search-container button {
    position: absolute;
    top: 36.75px;
    right: 3px;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .topnav input[type=text] {
    position: absolute;
    top: 36px;
    right: 60px;
      padding: 6px;
      width: 291px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }

      .topnav input[type=text] {
        border: 1px solid #ccc;
      }

      .row{
    display: flex;
    align-items: left;
    position:relative;
    flex-wrap: nowrap;
    justify-content:space-around;
  }

  .col-2{
  padding: 70px;
  min-width: 200px;
  margin: 50px;
  }
  h4, select, a, input{
    text-align: left;
    font-size:16px;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 15px;

  }
  .col-2 p{
    text-align: left;
    font-size:16px;
    font-family: "Helvetica Neue", sans-serif;
    margin-top: 1px;

  }
  h3{
    font-size:20px;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 3px;
  }
  h1{
    text-align: left;
    font-size:32px;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 10px;
  }
  .btn{
    background-color:red;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-size:16px;
    font-family: "Helvetica Neue", sans-serif;
  }


</style>
</head>

<body>

  <header>
    <ul>
      <li><a href="goal.html">Our Goal</a></li>
      <li><a href="countdown.html">Countdown</a></li>
      <li><a href="designers.html">Meet the Designers</a></li>
    </ul>
    <a href="index.html">

  <h2><div class="logo"></h2>
    </a>

    <div class="topnav">
      <div class="search-container">
        <form action="wcfwywlf.html">
          <input type="text" placeholder="Search..." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      </header>

  <div class="small-container">
    <div class="row">
      <div class = "col-2">
        <img src = "images/tank.jpg" width = "200%">
        </div>
      <div class = "col-2">
          <p>Home / PRIDE </p>
          <h1>PRIDE Tank Top</h1>
          <h4>$25.00</h4>
          <select>
            <option>Select Size</option>
            <option>S</option>
            <option>M</option>
            <option>L</option>
          </select>
          <input type="number" value="1" min="0">
            <a href="soldout.html" class="btn">Add To Cart</a>
          <h3>Product Details</h3>
          <p>Get ready for sunny weather in fun style with this Pride Humankind x Target Swim Tank Top. Crafted from a soft fabric with added spandex, this swim tank top offers you stretchy comfort in or out of water. Designed with a scoop-neck design with a T-back silhouette for cool styling, it features a single rainbow stripe running along the length as a colorful reminder of LGBTQIA+ pride and solidarity. Coordinate it with matching or contrasting swim trunks or bikini bottoms to flaunt your Pride as you get under the sun.

GLSEN leads the movement in creating affirming, accessible and anti-racist spaces for LGBTQIA+ students. We are proud of 10+ years of collaboration with GLSEN and continue to support their mission.

Humankind is a gender inclusive and LGBTQIA+ focused swimwear line. Queer and female founded, Humankind is for multiple body types - perfectly minimal and inclusive of every gender, giving all the ability to "wear what suits you."</p>
      </div>
    </div>
  </div>
</body>

</html>
